<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="menu.present({ev: $event})"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding overflow-scroll="true">

  <ion-item no-lines text-center *ngIf="false">
    <button item-end ion-button small round (click)="nextPlayerTurn()">Switch</button>
    <button item-end ion-button small round (click)="clearGrid()">Clear</button>
    <button item-end ion-button small round (click)="JSONstringifyGrid()">Save</button>
    <button item-end ion-button small round (click)="loadGrid()">Load</button>
    <button item-end ion-button small round (click)="stepFromLoadedGrid()">Step</button>
  </ion-item>

  <ion-row class="playerBox" center>
    <ion-col text-center [class.textGlow]="!playerOneTurn">
      <img class="avatar" src="../assets/imgs/avatars/{{playerOneAvatar}}.svg"/>
      <h2>{{playerOneName}}</h2>
      <ion-col class="winner" *ngIf="dropping && win && playerOneTurn">
        <h2>WINNER</h2>
        <ion-icon class="winnerAni" [ngClass]="playerOneTurn ? 'buttonColorPlayerOne':'buttonColorPlayerTwo'" name="md-trophy"></ion-icon>
      </ion-col>
    </ion-col>

    <ion-col text-center>
    <h2>VS</h2>
    </ion-col>

    <ion-col text-center [class.textGlow]="playerOneTurn">
      <img class="avatar" src="../assets/imgs/avatars/{{playerTwoAvatar}}.svg"/>
      <h2>{{playerTwoName}}</h2>
      <ion-col class="winner" *ngIf="dropping && win && !playerOneTurn">
        <h2>WINNER</h2>
        <ion-icon class="winnerAni" [ngClass]="playerOneTurn ? 'buttonColorPlayerOne':'buttonColorPlayerTwo'" name="md-trophy"></ion-icon>
      </ion-col>
    </ion-col>
  </ion-row>

  <ion-row class="placingBox" center>
    <ion-col [style.left]=getPlaceCoinPosition()>
      <img class="coin coinSlideX" *ngIf="!dropping" [style.width]=getCoinWidthStyle() align-items-center
           src={{getNextCoin()}}/>
    </ion-col>
  </ion-row>

  <ion-row class="hiddenMoveButtons" *ngIf="!dropping">
    <ion-col [style.left]=getHiddenMoveButtonsPosition()>
      <button outline class="moveRight baseBox" ion-button (click)="moveRight()"></button>
      <button outline class="moveLeft baseBox" ion-button (click)="moveLeft()"></button>
      <button outline class="moveDown baseBox" ion-button (click)="moveDown()"></button>
    </ion-col>
  </ion-row>

    <ion-row class="hiddenMoveButtons" center *ngIf="dropping && !win">
      <ion-col text-center>
        <button outline class="nextPlayerTurn" ion-button (click)="nextPlayerTurn()"></button>
      </ion-col>
    </ion-row>


    <ion-grid class="board" center>
    <ion-row *ngFor="let row of gameGrid; let y = index" center>
      <ion-col *ngFor="let item of row; let x = index" text-center>
        <img *ngIf="(x == placeCoinPosition) && (y == placedY) && dropping" class="coin coinSlideInDown" align-items-center src={{item}} [class.winHighlight]="winRowCheck(x,y)"/>
        <img *ngIf="(x != placeCoinPosition) || (y != placedY) || !dropping" class="coin" align-items-center src={{item}} [class.winHighlight]="winRowCheck(x,y)"/>
        <img class="boardBackground" src="../../assets/imgs/playfield-background2.svg"/>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-row class="moveButtons" center>
    <ion-col text-center *ngIf="!dropping" [ngClass]="playerOneTurn ? 'buttonColorPlayerOne':'buttonColorPlayerTwo'">
      <ion-icon name="ios-arrow-dropleft-circle" (click)="moveRight()"></ion-icon>
      <ion-icon name="ios-arrow-dropdown-circle" (click)="moveDown()"></ion-icon>
      <ion-icon name="ios-arrow-dropright-circle" (click)="moveLeft()"></ion-icon>
    </ion-col>
    <ion-col text-center *ngIf="dropping && !win && !tie" [ngClass]="playerOneTurn ? 'buttonColorPlayerOne':'buttonColorPlayerTwo'">
      <button ion-button large block (click)="nextPlayerTurn()">End Turn</button>
    </ion-col>
    <ion-col text-center *ngIf="dropping && win">
      <button ion-button large block (click)="newGame()">New game</button>
      <button ion-button large block (click)="navToStartPage()">Start page</button>
    </ion-col>
    <ion-col text-center *ngIf="dropping && tie">
      <button ion-button large block>You both lost!</button>
      <button ion-button large block (click)="newGame()">New game</button>
    </ion-col>
  </ion-row>

</ion-content>
