page-playfield {

  .item {
    background-image:url("data:image/svg+xml;utf8,
  <svg xmlns='http://www.w3.org/2000/svg' version='1.1'
       height='11px' width='60'>
    <text x='2' y='8' fill='#FF837B' font-size='10'>DEV TOOLS</text>
  </svg>");
  }

  // User info top box
  .playerBox {
    h2 {
      font-size: 2rem;
      display: inline-block;
      color: #488aff;
      margin: 0 1rem 0 1rem;
    }
    .textGlow {
      opacity: 0.3;
    }
    .avatar {
      height: 6rem;
      width: auto;
    }
    .winner {
      margin: 0;
      padding: 0;
      top: 0;
      left: 0;
      position: absolute;
      h2 {
        padding: 0 0.5rem 0 0.5rem;
        color: white;
        border-radius: 10%;
        background-color: #488aff;
        margin-top: 9rem;
      }
      .ion-md-trophy {
        position: absolute;
        left: 36%;
        margin-top: 11.4rem;
        font-size: 4.3rem;
      }
    }
  }

  .buttonColorPlayerOne {
    color: rgb(245, 171, 46);
  }
  .buttonColorPlayerTwo {
    color: rgb(245, 46, 33);
  }

  // Move buttons
  .moveButtons {
    ion-icon {
      z-index: 200;
      padding: 0 1rem 0 1rem;
      font-size: 8rem;
    }
    .button {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }

  // Invisible move buttons
  .hiddenMoveButtons {
    z-index: 2;
    position: absolute;
    opacity: 0;
    top: 6rem;
    left: 1rem;
    width: 100%;
    height: 50%;
    .baseBox {
      margin: 0;
      padding: 0;
      height: 50%;
      width: 20%;
    }
    ion-col {
      margin: 0;
      padding: 0;
    }
    .moveRight {
      right: 18%;
      z-index: 1;
      transform: scaleX(5);
    }
    .moveDown {
      width: 15%;
    }
    .moveLeft {
      right: -75%;
      z-index: 1;
      transform: scaleX(5);
    }
    .nextPlayerTurn {
      width: 100%;
      height: 100%;
    }

  }

  // Coin main grid
  ion-grid.board {
    margin: 1rem 0 0 0;
    padding: 0;
    ion-row {
      margin: 0;
      padding: 0;
    }
    ion-col {
      left: 0.3rem !important;
      padding: 0rem;
      margin: 0 0.5rem 0.5rem 0;
    }
    .coin {
      z-index: 0;
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;
    }
    .winHighlight{
      border:4px solid white;
      border-radius: 500px;
      -webkit-border-radius: 500px;
      -moz-border-radius: 500px;
    }
    .boardBackground {
      transform: scale(1.001,1.001);
      border: 0.1rem solid #488aff;
      box-shadow: 0 0 0 0.5rem #488aff;
      position: absolute;
      padding: 0;
      margin: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: 1;
    }
  }

  // Top placing box. Where the next coin is displayed
  .placingBox {
    margin: 0 0 0 0;
    ion-col {
      padding: 0rem;
      margin-top: 0;
      margin-right: 2rem;
      margin-bottom: 6.5rem;
    }
    .coin {
      position: absolute;
      margin-right: 1rem;
      z-index: 2;
    }
  }


  // Coin drop animation
  .coinSlideInDown {
    animation-name: slideInDown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .hideCoinSlideInDown {
    animation-duration: 0s;
  }
  @keyframes slideInDown {
    0% {
      transform: translateY(-35rem);
      visibility: visible;
    }
    100% {
      transform: translateY(0);
    }

  }

  // Coin slide-in animation
  .coinSlideX {
    animation-name: slideX;
    animation-delay: 0s;
    animation-duration: 0.7s;
    animation-fill-mode: both;
  }
  @keyframes slideX {
    0% {
      transform: translateX(70rem);
      visibility: visible;
    }
    100% {
      transform: translateX(0);
    }
  }

  // Winner animation
  .winnerAni {
    animation-name: winnerRot;
    animation-direction: alternate;
    animation-iteration-count:infinite;
    animation-delay: 0s;
    animation-duration: 0.7s;
    animation-fill-mode: both;
  }
  @keyframes winnerRot {
    0% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(20deg);
    }
  }

}
