page-login {
  .login-container{
    max-width: 500px;
  }
  .center {
    margin: auto;
  }

  .image-logo{
    width: 300px;
    height: auto;
    display: block;
  }

  .title {
    text-align: center;
  }
}


