page-home {
  ion-grid.board{
    padding: 0;
    margin: 0;
    ion-row{
      padding: 0;
      margin: 0;
    }
    ion-col{
      padding: 0;
      margin: 0;
    }
    .coin{
      width: 100%;
      height: auto;
    }
  }
}
