page-home {
  ion-grid.board{
    padding: 0;
    margin: 0;
    ion-row{
      padding: 0;
      margin: 0;
    }
    ion-col{
      padding: 0;
      margin: 0;
    }
    .coin{
      width: 100%;
      height: auto;
    }
  }

  h1{
    color: map-get($colors, primary);
  }

  .center{
    margin: auto;
  }

  .infinity-logo{
    max-width: 300px;
    display: block;
    margin: auto;
  }

  .margin-top-50{
    margin-top: 50px;
  }
}
