<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid class="board">
    <ion-row *ngFor="let row of gameGrid; let y = index">
      <ion-col *ngFor="let item of row; let x = index">
        <img class="coin" align-items-center src={{item}} />
      </ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button (click)="openFirebaseTest()">Firebase Testing</button>


  <ion-list>

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input [(ngModel)]="username" type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [(ngModel)]="password"  type="password" value=""></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <button primary block  (click)="login()">Sign in</button>
    <button primary block  (click)="signin()">Create Account</button>
  </div>

</ion-content>
