<ion-header>

  <ion-navbar>
    <ion-title>FirebaseTest</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h1>Auto-updating text area</h1>
  <ion-textarea [(ngModel)]="firebaseText" class="rounded-border"></ion-textarea>
  <button ion-button (click)="saveText()" [disabled]="!isEnabled">
    <!-- ngIf statement will only show the loading spinner if isEnabled is false.
    Otherwise the ion-spinner tag is replaced with the #save_string ng-template, ie. the string "Save" -->
    <ion-spinner name="bubbles" *ngIf="!isEnabled; else save_string"></ion-spinner>
  </button>

  <h1>Auto-updating list with ion-input</h1>
  <ion-list>
    <ion-item *ngFor="let item of items | async">
        {{item.text}}
    </ion-item>
  </ion-list>
  <ion-input [(ngModel)]="itemInput" type="text" class="rounded-border"></ion-input>
  <button ion-button (click)="addItem()"><ion-icon name="custom-infinity" style="margin-right: 0.5em"></ion-icon> Add</button>

</ion-content>

<ng-template #save_string>Save</ng-template>
