<ion-header>

  <ion-navbar>
    <ion-title>Games</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let game of games">
      <ion-item (click)="startGame(game.game)">
        <img src="../assets/imgs/avatars/{{game.i1}}.svg" />
        <span>
          <ion-icon *ngIf="game.turn1 && game.over" class="trophy" name="md-trophy"></ion-icon>
          <span [class.active]="game.turn1">{{game.p1}}</span>
          vs
          <span [class.active]="!game.turn1">{{game.p2}}</span>
          <ion-icon *ngIf="!game.turn1 && game.over" class="trophy" name="md-trophy"></ion-icon>
        </span>
        <img src="../assets/imgs/avatars/{{game.i2}}.svg" />
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" (click)="concede(game.game.gid)">Concede</button></ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
