page-game-list {
  ion-item img {
    width: 24px;
    height: auto;
    margin: 10px;
    vertical-align: middle;
  }

  .active {
    color: map-get($colors, primary);
    font-weight: bold;
  }

  .trophy {
    color: gold;
    font-size: 1em;
  }

  .turn {
    background-color: #b3ffb8;
  }
}
