<ion-header>

  <ion-navbar>
    <ion-title>Sign up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="style center">
  <ion-list>

    <ion-item>
      <ion-label color="primary" floating>E-mail</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>


    <!--<ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [(ngModel)]="password"  type="password" value=""></ion-input>
      <button ion-button clear item-end style="height:32px;">
        <ion-icon name="eye" style="font-size:32px;"></ion-icon>
      </button>
    </ion-item> -->

    <ion-item>
      <ion-label color="primary" floating>Password</ion-label>
      <ion-input [type]="type" [(ngModel)]="password"></ion-input>

      <button *ngIf="!showPass" ion-button clear color="blue" type="button" item-right
              (click)="showPassword()"> <ion-icon name="eye-off"></ion-icon></button>
      <button *ngIf="showPass" ion-button clear color="blue" type="button" item-right
              (click)="showPassword()"> <ion-icon name="eye"></ion-icon></button>



    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Confirm Password</ion-label>
      <!-- <ion-input [type]="type" name="password" ngModel #password="ngModel" required pattern=".{4,10}"></ion-input>-->
      <ion-input [(ngModel)]="confirmpassword" [type]="type"></ion-input>

    </ion-item>

    <div class="alert" *ngIf="errorMessage">
      <ion-icon name="alert">{{errorMessage}}</ion-icon>
    </div>

    <!--<ion-item>
    <ion-label floating>Confirm password</ion-label>
    <ion-input [(ngModel)]="confirmPassword"  type="password" value=""></ion-input>
      <button ion-button clear item-end style="height:32px;">
        <ion-icon name="eye" style="font-size:32px;"></ion-icon>
      </button>
    </ion-item>
-->

    <div padding>
    <button ion-button color="danger" (click)="cancel()" large>Cancel</button>
    <button ion-button color="secondary" (click)="create()" large>Create Account</button>
    </div>

  </ion-list>

  </div>

 <!-- <ion-item>Password: {{password}}</ion-item>
  <ion-item>Confirm Password: {{confirmpassword}}</ion-item> -->


</ion-content>
